@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap');
*{
    font-family: 'Mitr', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #082032;
}
#Under-nav.Open * {
    opacity: 0;
    animation: open 3s forwards;
    animation-delay: 2.5s;
}
@keyframes open{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
}
}
#Mysvg {
    width: 70%;
    height: 70%;
}
#Mysvg path {
    stroke: #EEE6CE;
    fill: #EEE6CE;
    stroke-width: 3px;
    stroke-linecap: round;
    fill-opacity: 0;
    animation: draw 9s forwards;
    animation-iteration-count: 1;
    transition: fill-opacity 1s ease;
}
#Mysvg.finished * {
    fill-opacity: 1;
    transition: all 1s ease;
}
#Loading{
    position: fixed;
    background-color: #082032;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
#Loading.Fadeout * {
    animation: Fade 2s forwards;
    animation-delay: 1s;
}
@keyframes Fade{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
}
}
.Nav-bar{
    width: 100%;
    height: max-content;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
}
.nav-name{
    padding: 10px 70px;
    width: max-content;
    color: #EEE6CE;
    font-size: 2.5rem;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    border-right: 1px solid #333;
}
.nav-Des{
    display: flex;
    align-items: center;
    padding: 10px 70px;
    width: max-content;
    color: #999;
    font-size: 1.5rem;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    overflow: hidden;
}
.nav-Resume{
    display: flex;
    align-items: center;
    background-color: #FEDB39;
    padding: 10px 40px;
    width: max-content;
    color: #082032;
    font-size: 1.5rem;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    border-left: 1px solid #333;
}
.nav-Resume a{
    text-decoration: none;
    color: #082032;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Mitr', sans-serif;
}
.AB-box{
    display: flex;
    padding: 2% 5%;
    margin-bottom: 15%;
}
.AB-text{
    width: 70%;
    padding: 2%;
}
.AB-head{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.AB-head svg{
    width: auto;
}
.AB-info{
    padding-top: 2%;
    color: white;
    font-size: 3rem;
}
.AB-img{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.AB-img img{
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.Top{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Top svg{
    width: 80%;
    height: 120px;
}
.Heading-text{
    color: white;
    font-family: 'Inter', sans-serif;
}
.Collection{
    padding: 5%;
}
.CL-con{
    position: relative;
}
.CL-head{
    z-index: 10;
    margin-bottom: 2%;
    color: #EEE6CE;
    font-size: 2.5rem;
}
.CL-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.CL-card{
    padding: 0 20px;
    width: 33.33%;
    height: auto;
}
.CL-card a{
    text-decoration: none;
}
.CL-card:hover .CL-card-img img{
    transform: scale(110%);
}
.CL-card-text{
    font-family: 'Roboto Mono', monospace;
    margin-left: 2%;
    font-size: 20px;
    color: white;
}
.CL-card-img{
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 3%;
    height: 80%;
}
.CL-card-img img{
    width: 100%;
    height: 100%;
    transition:all .5s;
}
.Footer-con{
    border-top: 1px solid #333;
    border-bottom: 10px solid #C84B31;
    display: flex;
    justify-content: space-between;
}
.CT-head{
    color: white;
    font-size: 30px;
}
.contact{
    margin: 3% 5%;
    display: flex;
    flex-direction: column;
}
.contact a{
    text-decoration: none;
    color: #999;
    font-size: 20px;
}
.CopyR{
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 5%;
}
@media screen and (max-width: 1260px){
    .nav-Des{
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        padding: 1%;
}
}
@media screen and (max-width: 940px){
    .AB-head svg{
        width: 70%;
    }
    .AB-info{
        font-size: 2rem;
    }
    .Top svg{
        width: 60%;
    }
    .nav-Des{
        font-size: 0.8rem;
        white-space: normal;
        text-align: center;
    }
    .CT-head{
        color: white;
        font-size: 25px;
    }
    .contact a{
        text-decoration: none;
        color: #999;
        font-size: 15px;
    }
    .CopyR{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px){
    .AB-box{
        margin-bottom: 5%;
    }
    .AB-info{
        font-size: 1rem;
    }
    .Top svg{
        width: 60%;
    }
    .nav-Des{
        display: none;
    }
    .nav-name{
        padding: 10px 30px;
        border-right: 0;
    }
    .CL-head{
        font-size: 30px;
    }
    .CL-card-text{
        font-size: 15px;
    }
    .CL-card{
        padding: 20px 20px;
        width: 50%;
    }
    .CT-head{
        color: white;
        font-size: 20px;
    }
    .contact a{
        text-decoration: none;
        color: #999;
        font-size: 10px;
    }
    .CopyR{
        font-size: 10px;
    }
}
@media screen and (max-width: 400px){
    .AB-text{
        padding: 2% 4%;
    }
    .AB-head svg{
        width: 90%;
    }
    .AB-info{
        font-size: 13px;
    }
    .AB-img{
        justify-content: flex-end;
        padding-bottom: 5%;
    }
    .nav-name{
        padding: 5px 40px;
        font-size: 1.5rem;
    }
    .nav-Resume{
        padding: 5px 20px;
    }
    .nav-Resume a{
        font-size: 1rem;
    }
    .CL-card{
        padding: 20px 0px;
        width: 100%;
    }
    .Top svg{
        width: 80%;
    }
    .CL-head{
        font-size: 20px;
    }
    .CopyR{
        font-size: 5px;
    }
}